.card-information{
    margin-bottom: 20px !important;
}

.info-wrap{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0px !important;
}

.info-wrap:nth-child(odd){
    background-color: rgba(0,0,0,.05);
}

.card-columns {
    column-count: 2 !important;
}

.ant-card-head-title {
    padding: 0 !important;
    padding-top: 24px !important;
}

.info-title{
    width: calc(50% - 20px);
    font-weight: bold;
    text-align: right;    
}

.info-value{
    width: calc(50% - 20px);
    text-align: left;
}