
/* custom checkboxes in checklist new styling */
ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
  }
  
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #2A3DA3;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  .container1 {
      display: block;
      position: relative;
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 35px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0px;
      line-height: 20px;
    text-align: left;
    color: #4d5e80;
      font-family: "Poppins";
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }
  
  .container1 input {
      position: absolute;
      left:16px;
      opacity: 0;
      cursor: pointer;
  }
  
  /* Create a custom checkbox */
  .checkmark {
      position: absolute;
      top: 8;
      left: 0;
      height: 23px;
      width: 23px;
      background-color: transparent;
      border: 1px solid #2A3DA3;
      border-radius: 50%
  }
  
  .container1:hover input ~ .checkmark {
      background-color: #F4F7FE;
  }
  
  .container1 input:checked ~ .checkmark {
      background-color: #2A3DA3;
  }
  
  .checkmark:after {
      content: "";
      position: absolute;
      display: none;
  }
  
  .container1 input:checked ~ .checkmark:after {
      display: block;
  }
  
  .container1 .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
  }
  
 