#wrapper {
    height: 100%;
    overflow: hidden;
    width: 100%;
}
.left-side-menu {
    width: 260px;
    background: #fff;
    bottom: 0;
    padding: 20px 0;
    position: fixed;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    top: 70px;
    -webkit-box-shadow: 0 0 24px 0 rgba(0,0,0,.06), 0 1px 0 0 rgba(0,0,0,.02);
    box-shadow: 0 0 24px 0 rgba(0,0,0,.06), 0 1px 0 0 rgba(0,0,0,.02);
    z-index: 99;
    top: 0px;
}
.left-side--hidden .left-side-menu{
    display: none;
}

.content-page {
    margin-left: 240px;
    overflow: hidden;
    padding: 0 12px 2px 12px;
    min-height: 80vh;
    margin-top: 70px;
    margin-top: 20px;
}

.left-side--hidden .content-page {
    margin-left: 0px;
}

.metismenu {
    padding: 0;
}

#sidebar-menu .menu-title {
    padding: 10px 20px;
    letter-spacing: .05em;
    pointer-events: none;
    cursor: default;
    font-size: .6875rem;
    text-transform: uppercase;
    color: #adb5bd;
    font-weight: 500;
}

.metismenu li {
    list-style: none;
}

#sidebar-menu>ul>li>a {
    color: #435966;
    display: block;
    padding: 26px 20px;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-size: .925rem;
}

#sidebar-menu>ul>li>a i {
    display: inline-block;
    line-height: 1.0625rem;
    margin: 0 10px 0 3px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}

#sidebar-menu>ul>li>a>span {
    vertical-align: middle;
}

#sidebar-menu>ul>li>a.active {
    color: #71b6f9;
}

#sidebar-menu>ul>li>ul {
    padding-left: 40px;
}
.metismenu .collapse.in {
    display: block;
}
.metismenu .collapse {
    display: none;
}
.collapse:not(.show) {
    display: none;
}

.metismenu ul li {
    width: 100%;
}

.nav-second-level li.active>a, .nav-third-level li.active>a {
    color: #71b6f9;
}
.nav-second-level li a, .nav-thrid-level li a {
    padding: 8px 20px;
    color: #435966;
    display: block;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
}

.page-nav-link{
    color: #49BF59;
    display: block;
    padding: 13px 5px;
    position: relative;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
}

.page-nav-link:hover{
    color: #49BF59;
}

.page-nav-history span:first-of-type .page-nav-link{
    padding-left: 0px;
}

.module-blocks{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.module-block-link{
    width: calc(25% - 40px);
    height: 100px;
    vertical-align: middle;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    /* box-sizing: border-box; */
    margin: 20px;
    font-weight: bold;
    white-space: pre-line;
    align-items: center;
    justify-content: center;
    background: white;
    padding: .5rem 3rem .5rem 3rem;
    border-radius: 0.3rem;
    border: 2px solid #ecf0ef;
}

.module-block-link:hover {
    border: 2px solid #a0dca9;
    color: #16683a !important;
}

.module-block-link a{
    color: #393939 !important;
    font-size: medium;
}

.module-block-link a:hover{
    color: #16683a !important;
}

.top-btns-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.title{
    color: #49BF59;
    font-weight: bold;
}

.form-description{
    font-size: 14px;
    font-weight: bold;
}

.subform-title{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.info-form-block{
    margin-bottom: 30px;
}

a {
    color: #49BF59;
}

a:hover{
    color: #49BF59;
}

a:active{
    color: #16683a !important;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    font-size: 14px;
}
.pageWrapper {
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 0 20px;
}
.ant-form-item {
    margin-bottom: 16px;
}
.ant-form-item-label {
    line-height: 1;
}
.form-wrapper {
    margin: 30px 0;
    padding: 0 30px;
}
.form-wrapper .form-section-title {
    color: #49BF59;
    font-weight: bold;
}
.form-label{
    margin-bottom: 20px;
}

.form-desc{
    font-size: 12px;
    line-height: 16px;
}

.color-red{
    color: red;
}
.ant-table-wrapper {
    overflow: auto;
}
.info-list .ant-descriptions-title {
    margin-bottom: 14px;
    font-size: 24px;
    color: #0d9b22;
    text-align: center;
}
.info-list .ant-descriptions-item-label {
    white-space: normal;
}
.overall-info .ant-descriptions-item-label {
    font-size: 18px;
    color: #0d9b22;
    text-align: center;
    font-weight: 600;
}
.overall-info .ant-descriptions-item-content {
    font-size: 30px;
    color: #000;
    text-align: center;
    font-weight: 600;
}

.form-page-container{
    position: relative;
    display: flex;
    align-items: flex-start;
    /* height: calc(100vh - 72px); */
}

.form-page--left-side{
    /* width: calc(100% - 440px); */
    width: 100%;
}

.form-page--right-side{
    width: 400px;
    position: absolute;
    position: fixed;
    right: 0px;
    top: 0px;
    background: #16683a;
    height: 100%;
    overflow: auto;
    height: 100vh;
}

.form-brief-block{
    color: white;
    padding: 0px 10px;
    margin-top: 20px;
}

.form-brief-title{
    font-size: 18px;
    color: white;
    font-weight: bold;
    padding-right: 20px;
}

.form-brief-top{
    position: relative;
}

.form-brief-edit-btn{
    cursor: pointer;
    position: absolute;
    right: 0px;
    top: 0px;
}

.form-brief-item-title{
    font-weight: bold;
    margin-bottom: 10x;
}

.form-brief-item-title{
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 0px;
}

.form-brief-item-value{
    display: inline-block;
    margin-bottom: 0px;
}

.form-brief-item{
    margin-left: 10px;
    margin-bottom: 5px;
}

.ant-table-thead > tr > th {
    font-size: 14px;
}

.anticon {
    vertical-align: middle;
}
.ant-btn .anticon {
    line-height: 0;
}
.ant-statistic-title {
    font-size: 18px;
}

.buttons-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-wrap{
    width: calc(25% - 10px);
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #49BF59;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.button-wrap:hover,
.button-wrap.selected{
    background: #49BF59;
    color: white;
}

.form-page--main-side{
    width: calc(100% - 400px);
}

.form-step-container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 20px;
}

.form-step-wrap{
    display: inline-block;
    margin: 0px 20px;
    text-align: center;
    max-width: 80px;
    cursor: pointer;
}

#sidebar-menu{
    position: relative;
}

#side-menu{
    margin-top: 10px;
}

.left-side-collapse-icon{
    font-size: 20px;
    right: 10px;
    color: #49bf59;
    top: -30px;
    cursor: pointer;
}

.img-logo {
    max-width: 80%;
    height: auto;
    padding: 10px;
}

.img-icon {
    width: 30px;
    height: 30px;
}

.img-btn {
    width: 50px;
    height: 50px;
}

.left-sidebar--opened .left-side-menu{
    width: 240px;
}

.left-sidebar--collapsed .left-side-menu{
    width: 65px;
}

.left-sidebar--collapsed .left-side-collapse-icon{
    right: 24px;
}

.left-sidebar--collapsed .side-menu-title{
    display: none;
}

.left-sidebar--collapsed .img-logo{
    display: none;
}

.side-menu-title{
    white-space: pre;
    font-weight: 600;
    color: black;
}

.side-menu-title:hover{
    color: #26a35f;
}


#sidebar-menu>ul>li>a{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    height: 22px;
    box-sizing: content-box;
}

.left-sidebar--collapsed .content-page{
    margin-left: 65px;
}

.right-side-collapse-icon{
    color: white;
    font-size: 20px;
    left: 10px;
    cursor: pointer;
    position: relative;
}

.right-side--collapsed .form-page--right-side{
    width: 35px;
}

.right-side--collapsed .form-page--right-side-wrap{
    display: none;
}

.right-side--collapsed .form-page--main-side{
    width: calc(100% - 35px);
}
.public-DraftStyleDefault-block {
    margin: 0;
}
.rdw-editor-main {
    border: 1px solid #F1F1F1 !important;
    padding: 10px;
}
.public-DraftStyleDefault-block {
    min-height: 150px;
}
.ant-calendar-picker-icon {
    line-height: 0;
}
.ant-calendar-picker {
    width: 100%;
}

.report-action-btn{
    margin: 0px 10px;
}

.report-action-btn--delete{
    color: #ff7875 !important;
}

.report-action-btn--delete:hover{
    color: #ff7875 !important;
}

.view-form-card-container{
    margin-bottom: 20px;
}
.view-right-side-menu {
    width: 270px;
    background: #49bf59;
    padding: 20px 0;
    box-shadow: 0 0 24px 0 rgba(0,0,0,.06), 0 1px 0 0 rgba(0,0,0,.02);
    z-index: 99;
    overflow: auto;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    > div {
        padding: 8px 20px;
        width: 100%;
        &:hover {
            background: #f5f5f5;
            color: #49bf59;
            a {
                color: #49bf59;
            }
        }
    }
    a {
        color: #FFF;
        width: 100%;
        font-size: 16px;
        font-weight: 500;
    }
}
.right-side-menu {
    width: 270px;
    background: #49bf59;
    padding: 20px 0;
    box-shadow: 0 0 24px 0 rgba(0,0,0,.06), 0 1px 0 0 rgba(0,0,0,.02);
    z-index: 99;
    overflow: auto;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    h1 {
        color: white;
        font-size: 16px;
        border-bottom: 2px solid #FFF;
        padding-bottom: 3px;
    }
}
.check-list {
    .ant-typography {
        font-weight: 600;
    }
    ul {
        padding-top: 2px;
        padding-left: 25px;
        li {
            list-style: none;
            color: #FFF;
            font-size: 14px;
            display: flex;
            align-items: center;
            .indicator {
                background: transparent;
                border: 1px solid #000;
                border-radius: 50%;
                margin-right: 5px;
                line-height: 1;
                width: 12px;
                height: 12px;
                &.active {
                    background: #FFF;
                }
            }
        }
    }
}

.styled-report-modal{
    .ant-modal-content,
    .ant-modal-header{
        border-radius: 0;
    }

    .ant-modal-header{
        border-color: #707070;
        padding: 20px 24px 8px 24px;
    }

    .ant-modal-title{
        color: #4D4F5C;
    }

    .ant-modal-footer{
        border-top: 0 none;
    }      
}