.all-assets-block {
  border: 1px solid #ddd;
  text-align: center;
  border-radius: 10px;
  background-color: rgba(237, 237, 237, 0.40);
  padding: 16px;
  span.ant-typography {
    font-size: 18px;
    margin-top: 10px;
  }
  h4.ant-typography {
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ant-typography + h4.ant-typography {
    margin-bottom: 0px;
  }
}